venv/
.env
.env.production
.env.local
__pycache__/
.pytest_cache/
*.pyc
node_modules/
.next/
dist/
*.log
flask_server.log
.vercel/
*.xlsx
*.db
*.sqlite
.idea/
.vscode/
backend/static/uploads/*
backend/utils/reports/*